<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Frontend</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Blockchain Frontend</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/configure" class="nav-link">Configure</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">Birth Certificates waiting to be added to the next block</h4>
                    <button type="submit" id="refresh_transactions" class="btn btn-primary">
                        <i class="fa fa-refresh"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">

            <table id="unmined_transactions_table" class="table table-bordered" cellspacing="0" width="100%"></table>
        </div>

        <div class="col-lg-12 text-center">
            <input type="button" id="mine_button" class="btn btn-primary btn-lg" value="Mine">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">Birth Certificates on the blockchain</h4>
                    <button type="submit" id="refresh_blockchain" class="btn btn-primary">
                        <i class="fa fa-refresh"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table id="transactions_table" class="table table-bordered" cellspacing="0" width="100%"></table>
        </div>
    </div>


    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>

   <script>
$(function() {

    // 1) Certificates already on the blockchain (mined)
    $.ajax({
        url: "/chain",
        type: "GET",
        success: function(response) {

            let transactions = [];
            let count = 1;

            for (let i = 0; i < response['length']; i++) {
                const block = response['chain'][i];

                for (let j = 0; j < block['transactions'].length; j++) {
                    let tx = block['transactions'][j];

                    // Skip mining reward or old txs that aren't certificates
                    if (!tx.hasOwnProperty('hospital_public_key')) {
                        continue;
                    }

                    let options = {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                        hour: "2-digit",
                        minute: "2-digit",
                        second: "2-digit"
                    };
                    let date = new Date(block["timestamp"] * 1000);
                    let formattedTimestamp = date.toLocaleTimeString('en-US', options);

                    let row = [
                        count,
                        tx['child_name'],
                        tx['date_of_birth'],
                        tx['time_of_birth'],
                        tx['obstetrician'],
                        tx['place_of_birth'],
                        tx['parent1_name'],
                        tx['parent2_name'],
                        tx['nurse_name'],
                        tx['nurse_registraion_number'],
                        tx['hospital_public_key'],
                        formattedTimestamp,
                        block['block_number']
                    ];

                    transactions.push(row);
                    count += 1;
                }
            }

            $('#transactions_table').DataTable({
                data: transactions,
                columns: [
                    { title: "#" },
                    { title: "Child Name" },
                    { title: "Date of Birth" },
                    { title: "Time of Birth" },
                    { title: "Obstetrician" },
                    { title: "Place of birth" },
                    { title: "Parent 1" },
                    { title: "Parent 2" },
                    { title: "Documenting Nurse Name" },
                    { title: "Documenting Nurse Registration Number" },
                    { title: "Hospital Public Key" },
                    { title: "Timestamp" },
                    { title: "Block #" }
                ],
                columnDefs: [
                    { targets: "_all", render: $.fn.dataTable.render.ellipsis(25) }
                ]
            });
        },
        error: function(error) {
            console.log(error);
        }
    });

    // 2) Pending certificates (unmined)
    $.ajax({
        url: "/transactions/get",
        type: "GET",
        success: function(response) {

            let transactions = [];
            let count = 1;

            for (let i = 0; i < response['transactions'].length; i++) {
                let tx = response['transactions'][i];

                let row = [
                    tx['child_name'],
                    tx['date_of_birth'],
                    tx['time_of_birth'],
                    tx['parent1_name'],
                    tx['parent2_name'],
                    tx['nurse_registraion_number'],
                    tx['hospital_public_key']

                ]
                transactions.push(row);
                count += 1;
            }

            $('#unmined_transactions_table').DataTable({
                data: transactions,
                columns: [
                    { title: "Child Name" },
                    { title: "Date of Birth" },
                    { title: "Time of Birth" },
                    { title: "Parent 1" },
                    { title: "Parent 2" },
                    { title: "Documenting Nurse Registration Number" },
                    { title: "Hospital Public Key" }
                ],
                columnDefs: [
                    { targets: "_all", render: $.fn.dataTable.render.ellipsis(25) }
                ]
            });
        },
        error: function(error) {
            console.log(error);
        }
    });

    // 3) Mine button
    $('#mine_button').click(function() {
        $.ajax({
            url: '/mine',
            type: 'GET',
            success: function(response) {
                window.location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    // 4) Refresh pending table
    $('#refresh_transactions').click(function() {
        window.location.reload();
    });

    // 5) Refresh blockchain & resolve conflicts
    $('#refresh_blockchain').click(function() {
        $.ajax({
            url: '/nodes/resolve',
            type: 'GET',
            success: function(response) {
                window.location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

});
</script>

</body>
</html>